<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**

<ol>
    <li>Python</li>
    <li>R language </li>
    <li>SQL </li>

**Some of the commonly used libraries used by Data Scientists include:**

<ol>
    <li>Numpy</li>
    <li>TensorFlow</li>
    <li>Pandas</li>
    <li>Sci-py</li>
    <li>PyTorch</li>

<table>
    <th>Data Science Tools</th>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>R Studio</td></tr>
    <tr><td>Apache Spark</td></tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
<ul>
    <li>Python</li>
    <li>R language </li>
    <li>SQL </li>

**Author:**
Nisar Ahmed Md.